%p index.erb - etusivu

%a{:href => "/login"} Login
%a{:href => "/register"} Register

%p=@esimerkkimuuttuja

%p Sessioon tallennettuna "<%= @sessiosta_muuttujaan %>"

<% @testmodelin_arvot.each do |arvo| %>
    %p=arvo.name
<% end %>
