<p>index.erb - etusivu</p>

<a href="/login">Login</a>
<a href="/register">Register</a>

<p><%= @esimerkkimuuttuja %></p>

<p>Sessioon tallennettuna "<%= @sessiosta_muuttujaan %>"</p>

<% @testmodelin_arvot.each do |arvo| %>
    <p><%= arvo.name %></p>
<% end %>
