%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
    %title AuctionSite
  %body
    %h1 AuctionSite
    %p
      %a{:href => "/login"} [Login] 
      %a{:href => "/register"} [Register]
      %a{:href => "/"} [Main Page]
      - if @name != nil
        %a{:href => "/logout"} [Logout]
        %a{:href => "/listitem"} [Add Item]
    %div
      - if @msg != nil 
        %p.error= @msg
      =yield
