%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
    %title AuctionSite
  %body
    %h1 AuctionSite
    %p
      %a{:href => "/login"} [Login] 
      %a{:href => "/register"} [Register]
      %a{:href => "/"} [Main Page]
      - if @user
        %a{:href => "/logout"} [Logout]
        %a{:href => "/listitem"} [Add Item]
        %a{:href => "/user"} [Account page]
    %div
      - if flash[:error]
        %p.error= flash[:error]
      - if flash[:success]
        %p.success= flash[:success]
      =yield
