body {
  background-color: #000033;
  color: #C8C8C8;
  text-align: center; 
}

table {
  background-color: #000066;
  border-collapse:collapse;
  margin-left:auto;
  margin-right:auto;
}

table, th, td {
  border: 2px solid black;
}

td {
  max-width: 500px;
  word-wrap: break-word;
}

.error {
  color: red;
  font-size: 20px;
}

.success {
  color: green;
  font-size: 20px;
}

a:link {
  text-decoration: none;
  color: #3366FF;
}

a:visited {
  text-decoration: none;
  color: #3366FF;
}

a:active {
  text-decoration: none;
  color: #3366FF;
}

a:hover {
  text-decoration: underline;
  color: #FFFFFF
}
